/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
  --transparent: #ffffff00;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-image: linear-gradient(to bottom, var(--destaque), var(--transparent));
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;

}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu ul > li > a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 12px;
  border-radius: 50%;
  transition: background-color 0.5s, color 0.5s;
}

nav#menu ul > li > a:hover {
  background-color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha p {
  text-align: justify;
}

section#ficha img.foto {
  width: 200px;
  border-radius: 50%;
  
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 20px;
  transition: outline .5s;
}

section#ficha img.foto:hover {
  outline: 5px solid var(--destaque-inverso);
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;
  text-align: center;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  gap: 5px;
  margin-top: 15px;
}

div#social a {
  color: var(--destaque);
  transition: color .5s;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 20px;
}

article#formacao {
  display: flex;
  flex-flow: row wrap;
}

article#formacao > h3, h4 {
  width: 300px;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .nome {
  font-weight: bold;
  color: var(--texto);
}

#skill-container .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skill-container .barra {
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

#skill-container .progresso {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--destaque-inverso), var(--destaque));
  border-radius: 4px;
}

#formacao-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque);
  padding-left: 12px;
  transition: border-color .5s;
}

#formacao-container .curso:hover {
  border-left: 5px solid var(--destaque-inverso);
  
}

#formacao-container .periodo {
  font-size: 0.8em;
  color: var(--texto);
}

#formacao-container .instituicao {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .titulacao {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--destaque);
}

#projeto-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#projeto-container .projeto {
   display: flex;
   flex-direction: column;
   gap: 15px;
   background-color: var(--fundo-principal);
   padding: 10px;
   border-radius: 8px;
   border-left: 5px solid var(--destaque);
   transition: border-color .5s;
}

#projeto-container .projeto:hover {
   border-left: 5px solid var(--destaque-inverso);
}

#projeto-container .foto {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

footer > p {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
}

footer > p > a {
  color: var(--texto-inverso);
}

@media screen and (min-width: 768px) {
  #skill-container {
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .info {
    max-width: 80%;
  }

  #projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  #skill-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}